@model productAssociationInfo

<div class="container mt-5">
    <h2 class="font-weight-light text-center">@Model.product.name</h2>
    <hr>

    <div class="row">
        <div class="col-4">
            <h5>Categories:</h5>
            <ul class="list-inline font-weight-bold">
                @foreach(var association in Model.product.categories)
                {
                    <li>@association.category.name</li>
                }
            </ul>
        </div>
        <div class="col-6">
            <h6>Add Category</h6>
            <form action="addCategory" method="post">
                <div class="form-group">
                   <label asp-for="association.category_id"></label>
                    <select asp-for="association.category_id">
                        @foreach(var category in Model.allCategory)
                        {
                            <option value="@category.category_id">@category.name</option>
                        }
                    </select>
                    <small><span asp-validation-for="association.category_id" class="font-weight-bold text-danger"></span></small>
                    <input type="hidden" asp-for="association.product_id" value="@Model.product.product_id">
                    <button type="submit" class="btn btn-info">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>